log/
docker/db/data

src/node_modules
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/vendor
src/.fleet
src/.idea
src/.vscode
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

src/backend/logs
src/backend/*.log
src/backend/npm-debug.log*
src/backend/yarn-debug.log*
src/backend/yarn-error.log*
src/backend/pnpm-debug.log*
src/backend/lerna-debug.log*
src/backend/node_modules
src/backend/.DS_Store
src/backend/dist
src/backend/dist-ssr
src/backend/coverage
src/backend/*.local
src/backend/cypress/videos/
src/backend/cypress/screenshots/
src/backend/.vscode/*
src/backend/!.vscode/extensions.json
src/backend/.idea
src/backend/*.suo
src/backend/*.ntvs*
src/backend/*.njsproj
src/backend/*.sln
src/backend/*.sw?
