version: "3.8"

volumes:
  vendor-store:
  node_modules-store:
  front_node_modules-store:

services:
  app-dl:
    container_name: app-dl
    build: ./docker/php
    ports:
      - "5173:5173"
      - "3000:3000"
    volumes:
      - ./src/:/var/www/html
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini
      - ./log:/var/log
      - vendor-store:/var/www/html/vendor
      - node_modules-store:/var/www/html/node_modules
      - front_node_modules-store:/var/www/html/backend/node_modules

  web-dl:
    container_name: nginx-dl
    image: nginx
    ports:
      - "${WEB}:80"
    volumes:
      - ./src/:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app-dl

  # .envファイルの「DB_HOST」とサービス名を合わせる
  db-dl:
    image: mysql:8.0
    container_name: db-dl
    environment:
      MYSQL_ROOT_PASSWORD: root
      # .envファイルの「DB_DATABASE」とMYSQL_DATABASEを合わせる
      MYSQL_DATABASE: ecommerce
      TZ: "Asia/Tokyo"
      # 文字コード指定
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./docker/db/data:/var/lib/mysql
      - ./docker/db/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./docker/db/sql:/docker-entrypoint-initdb.d
    ports:
      - "${DB}:3306"

  phpmyadmin-dl:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-dl
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=db-dl
      - PMA_USER=root
      - PMA_PASSWORD=root
    links:
      - db-dl
    ports:
      - 8580:80
    volumes:
      - /sessions

  mailcatcher-dl:
    image: schickling/mailcatcher
    ports:
      - 1080:1080
      - 1025:1025
